@use "base/variables" as v;
@use "base/mixins" as m;

.products {

    h1 {
        margin-top: 5rem;

        @include m.tabletV2 {
            margin-top: 10rem;
        }
    }
    
    span {
        color: v.$rosa;
    }

    .box {

        .content {

            .boton,
            .boton-editar {
                border-radius: 1rem;
            }
        }
    }
}

.detalles-producto {

    h1 {
        padding: 1rem 0;
    }

    .contenedor {

        .info-producto {
            display: flex;

            img {
                width: 50rem;
                height: 50rem;
            }
        }

    }
}