@use "base/variables" as v;
@use "base/mixins" as m;

.products {

    h1 {
        margin-top: 5rem;

        @include m.tabletV2 {
            margin-top: 10rem;
        }
    }
    
    span {
        color: v.$rosa;
    }
}