@use 'base/variables' as v;
@use 'base/mixins' as m;

.home {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('../img/home.jpg') center/cover no-repeat;

    .content {
        max-width: 50rem;

        h3 {
            margin-top: 5rem;
            font-size: 6rem;
            color: v.$negro;

            @include m.tablet {
                font-size: 5rem;
            }
        }

        span {
            margin-left: 3rem;
            font-size: 5vh;
            color: v.$verdeClaro;
            padding: 1rem 0;
            line-height: 1.5;

            @include m.tablet {
                font-size: 5vh;
            }
        }

        p {
            margin-left: 3rem;
            font-size: 1.5rem;
            color: v.$negro;
            padding: 1rem 0;
            line-height: 1.5;
        }

        a {
            @include m.boton(v.$verde, v.$blanco);
            margin-left: 3rem;
            border-radius: 1rem;
        }
    }

    @include m.tablet {
        background-position: left;
    }
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: v.$negro;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(255, 51, 153, .05 );

    @include m.tablet {
        font-size: 3rem;
    }

    span {
        color: v.$rosa;
    }
}

.about {
    .row {
        display: flex;
        align-items: center;
        gap: 5rem;
        flex-wrap: wrap;
        padding: 2rem 0;
        padding-bottom: 3rem;

        .content {
            flex: 1 1 40rem;

            .boton {
                @include m.boton(v.$verde, v.$blanco);
                border-radius: 1rem;
            }

            h3 {
                font-size: 3rem;
                color: v.$negro;
                padding: 1rem 0;
            }

            p {
                font-size: 1.5rem;
                color: v.$grisOscuro;
                padding: 1rem 0;
                padding-top: 1rem;
                line-height: 1.5;
            }
        }
    }

    .video-container {
        flex: 1 1 40rem;
        position: relative;

        video {
            width: 100%;
            border: 1.5rem solid v.$blanco;
            border-radius: 1rem;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
            height: 100%;
            object-fit: cover;
        }

        h3 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 3rem;
            background: v.$blanco;
            width: 100%;
            padding: 1rem 2rem;
            text-align: center;
            mix-blend-mode: screen;
        }
    }

}